
<h1>Location guesser</h1>
<div style="margin: 200 auto; width: 850px;"> 
<script src="https://unpkg.com/mapillary-js@4.1.2/dist/mapillary.js"></script>
<link
  href="https://unpkg.com/mapillary-js@4.1.2/dist/mapillary.css"
  rel="stylesheet"
/>
<div id="mly" style="width: 800px; height: 600px;"></div>
<script>
    var {Viewer} = mapillary;
    var viewer = new Viewer({
      accessToken: 'MLY|7884436731651628|991d31489dc0ba2a68fd9c321c4d2cd1',
      container: 'mly', // the ID of our container defined in the HTML body
      imageId: {{image}} 
    });
  </script>
  <!DOCTYPE html>
  <html>
  <head>
  
  </head>
  <body>
  
  
  
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapbox Example</title>
  
    <!-- Link to Mapbox CSS -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet" />
  
    <!-- Mapbox JS -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
  
    <style>
      /* Make the map take up the entire screen */
      #map {
        width: 20%;
        height: 50vh;
        margin-right: auto;
      }
    </style>
  </head>
  <body>
  
    <!-- Create a div to hold the map -->
    <div id="map" style="position:absolute; right:138px; top:355px;"></div>
  
    <script>
      // Replace with your own Mapbox Access Token
      mapboxgl.accessToken = 'pk.eyJ1IjoiZXZhbmRlcmsiLCJhIjoiY20zYnlzOTExMW10ODJucjF4eHUyejV0YyJ9.XYDcVQ3_rJLEptvGCmIT8g';
  
      // Create a new map
      const map = new mapboxgl.Map({
        container: 'map', // ID of the div where the map will be placed
        style: 'mapbox://styles/mapbox/streets-v11', // Style of the map
        center: [70, 60], // Longitude, Latitude (starting point of the map)
        zoom: 1 // Zoom level (starting zoom level)
      });


      // Create constants for the latitude and longitude.
       map.on('click', function (e) {
        const lat = e.lngLat.lat;
        const lng = e.lngLat.lng;
        console.log(`Latitude: ${lat}, Longitude: ${lng}`);
        const response = fetch(`/latlong?lat=${lat}&lng=${lng}`)
      });

      

    </script>
  </body>
  </html>